---
sudo: required
language: objective-c
# 10.12 (see https://docs.travis-ci.com/user/osx-ci-environment/#OS-X-Version)
os: osx
osx_image: xcode9.4

before_install:
  - brew update

install:
  # unlink brew node
  - brew unlink node

  # Install ruby
  - brew install ruby

  # Install Ansible.
  - brew install ansible

  # do not test cask apps install, only java for elasticsearch
  - "echo 'homebrew_cask_apps: [java8]' >> vars/override.yml"

  # Add a hosts file.
  - sudo mkdir -p /etc/ansible
  - sudo touch /etc/ansible/hosts
  - "echo -e '[local]\nlocalhost ansible_connection=local' | sudo tee -a /etc/ansible/hosts > /dev/null"

script:
  # check ansible version
  - "ansible --version"

  # Check the role/playbook's syntax.
  - "ansible-playbook playbooks/apache.yml --syntax-check"
  - "ansible-playbook playbooks/php.yml --syntax-check"
  - "ansible-playbook main.yml --syntax-check"

  # Test the playbook.
  - "ansible-playbook playbooks/apache.yml -u $(whoami)"
  - "ansible-playbook playbooks/php.yml"
  - "ansible-playbook main.yml"

  # Test php
  - "sphp 5.6; php -v"
  - "sphp 7.1; php -v"
  - "sphp 7.2; php -v"
