logLevel = "INFO"
defaultEntryPoints = ["http"]

# WEB interface of Traefik - it will show web page with overview of frontend and backend configurations 
[web]
address = ":8080"

# Connection to docker host system (docker.sock)
[docker]
domain = "dev"
watch = true
exposedbydefault = true

[entryPoints]
  [entryPoints.http]
  address = ":80"
  
[file]
[frontends]
  [frontends.default]
  backend = "host"
  passHostHeader = true
  priority = -10

[backends]
  [backends.host]
    [backends.host.servers.default]
    url = "http://docker.for.mac.localhost:8080"


# Let's encrypt configuration
#[acme]
#  email="email@mycoolapp.com"
#  storage="/etc/traefik/acme.json"
#  entryPoint="https"
#  acmeLogging=true
#  onDemand=true
#  OnHostRule=true

# Enable Consul KV configuration backend.
# [consul]
# endpoint = "127.0.0.1:8500"
# watch = true
# prefix = "traefik"
